.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
/mongo_config/data
/jmeter_config/web
/websocket_server/mongo_logs.txt
/websocket_server/redis_logs.txt 
